
   
    <div class=" bg-primairebg p-2 ml-2 rounded-md">
      <div class="flex gap-1">
        <img src="../assets/spotify.png" alt="image" class="w-6">
        <p class="text-white text-bold font-bold">Spotify</p>
      </div>
      
      <div class="flex gap-1 mt-3">
        <img src="../assets/home.png" alt="image" class="w-6">
        <p class="text-gray-400 text-bold ml-3">Accueil</p>
      </div>
  
      <div class="flex gap-1 mt-3">
        <img src="../assets/search.png" alt="image" class="w-6">
        <p class="text-gray-400 text-bold ml-3">Recherche</p>
      </div>
    </div>
     
    <div class="bg-primairebg p-2 mt-5 rounded-md">
      <div class="flex">
        <img src="../assets/Biblio.png" alt="image" class="w-6"> 
        <p class="text-gray-400 ml-3" >Bibliothèque</p>
        <img src="../assets/plus.png" alt="image" class="w-4 h-4 ml-auto mt-1"> 
      </div>   
      
      <div class="h-40 overflow-y-auto  mt-5">
         <div class="bg-stone-900 rounded-md p-2">
           <p class="font-bold text-white text-xs">Créez votre première playlist</p>
           <p class="text-gray-300 text-xs mt-1">C'est simple, nous allons vous aider</p>
           <button class="bg-white rounded-full p-1 text-xs mt-2">Créer une playlist</button>
         </div>
         <div class="bg-stone-900 rounded-md p-2 mt-4">
          <p class="font-bold text-white text-xs">Cherchons quelques podcasts auxquels vous abonner</p>
          <p class="text-gray-300 text-xs mt-1">Nous vous transmettons des informations sur les nouveaux épisodes</p>
          <button class="bg-white rounded-full p-1 text-xs mt-2">Parcourir les podcasts</button>
        </div>
      </div>
       
      <div class="flex mt-10 gap-1 flex-wrap ">
        <p class="text-gray-400 text-xss cursor-pointer">légal</p>
        <p class="text-gray-400 text-xss cursor-pointer">Centre de Sécurité et de Confidentialité</p>
        <p class="text-gray-400 text-xss cursor-pointer">Protection des données</p>
        <p class="text-gray-400 text-xss cursor-pointer">Paramétre des cookies</p>
      </div>

      <div class="inline-flex items-center rounded-full p-1 border border-white mt-10">
        <img src="../assets/world.png" alt="image" class="w-4 h-4">
        <p class="text-white text-xs ml-1">Français</p>
      </div>
       
    </div>

       

