<div class="flex gap-10">
 <div class="flex flex-col gap-2 ">
    <h1 class="text-white">Société</h1>
    <a href="#" class="text-zinc-400 text-xs hover:underline hover:text-white">A propos</a>
    <a href="#" class="text-zinc-400 text-xs hover:underline hover:text-white">Offres d'emploi</a>
    <a href="#" class="text-zinc-400 text-xs hover:underline hover:text-white">For the Record</a>
 </div>

 <div class="flex flex-col gap-2">
    <h1 class="text-white">Communautés</h1>
    <a href="#" class="text-zinc-400 text-xs hover:underline hover:text-white">Espaces artistes</a>
    <a href="#" class="text-zinc-400 text-xs hover:underline hover:text-white">Développeurs</a>
    <a href="#" class="text-zinc-400 text-xs hover:underline hover:text-white"> Campagnes <br>Publicitaires</a>
    <a href="#" class="text-zinc-400 text-xs hover:underline hover:text-white">Investisseurs</a>
    <a href="#" class="text-zinc-400 text-xs hover:underline hover:text-white">Fournisseurs</a> 
 </div>
 <div class="flex flex-col gap-2">
    <h1 class="text-white">Liens utiles</h1>

    <a href="#" class="text-zinc-400 text-xs hover:underline hover:text-white">Assistance</a>
<a href="#" class="text-zinc-400 text-xs hover:underline hover:text-white">Appli mobile gratuite</a>
  
 </div>
 <div class="flex flex-col gap-2">
    <h1 class="text-white">Abonnements Spotify</h1>
    <a href="#" class="text-zinc-400 text-xs hover:underline hover:text-white">Premium Personnel</a>
    <a href="#" class="text-zinc-400 text-xs hover:underline hover:text-white">Premium Duo</a>
    <a href="#" class="text-zinc-400 text-xs hover:underline hover:text-white">Premium Famille</a>
    <a href="#" class="text-zinc-400 text-xs hover:underline hover:text-white">Premium Étudiants</a>
    <a href="#" class="text-zinc-400 text-xs hover:underline hover:text-white">Spotify Free</a>
 </div>
</div>
